.Dictionary {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding-bottom: 6px;
}

.Title {
  font-family: MagicOwlFont;
  font-size: 60px;
  margin-bottom: 0px;
}

.Dictionary section {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 8px;
  margin: 10px 32px;
  padding: 10px;
}

.Dictionary input {
  width: 50%;
  border-radius: 6px;
  padding: 6px 4px;
  border: 1px dotted #ddd;
}

.Dictionary .hint {
  font-size: 12px;
  margin: 5px 3px;
}
