body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/018/218/original/Books_on_curved_bookshelves.jpg?1633318944")
    no-repeat 50% fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MagicOwlFont";
  src: local("MagicOwlFont"), url("./MagicOwlFont.otf") format("truetype");
  font-weight: bold;
}
ul {
  list-style: none;
  margin-top: 6px;
}

li {
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
  font-size: 14px;
}

.Word {
  text-transform: capitalize;
  padding-top: 7px;
  font-weight: bold;
}

.Partofspeach {
  text-transform: capitalize;
  padding-top: 7px;
}

.Definition {
  text-transform: capitalize;
  margin: 15px;
}
